
<h1>Este es el footer</h1>

<div class="container-fluid">
    <div class="row p-5 pb-2 bg-dark text-white text-center">
       

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3">CONTACTO</p>

            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Facebook</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Linkedin</a>
            </div>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">LOGO</p>

            <div>
                <img src="/src/public/logo_hseq.png" >
            </div>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3">LEGAL</p>


            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Terminos y Condiciones</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Politicas de Privacidad</a>
            </div>
        </div>

        <div class="col-xs-12 pt-4">
            <p class="text-white text-center">© 2022 HSEQ Control Total – Todos los derechos reservados</p>
        </div>

    </div>
</div>