
<h1>Este es el footer</h1>

<div class="container-fluid">
    <div class="row p-5 pb-2 bg-dark text-white text-center justify-content-center align-items-center">
       

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3">CONTACTO</p>

            <div class="mb-2">
                <a class="text-white text-decoration-none" href="https://www.facebook.com/hseqcontroltotalingenieria" target="_blank">Facebook</a>
            </div>
            <div class="mb-2">
                <a class="text-white text-decoration-none" href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>

            <div class="mb-2">
                <a class="text-white text-decoration-none" href="https://www.linkedin.com/in/dionel-porras-bb10231a4/" target="_blank">Linkedin</a>
            </div>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">

            <div>
                <img src="/logo_hseq.png" class="w-25">
            </div>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5 mb-3">LEGAL</p>


            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Terminos y Condiciones</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="">Politicas de Privacidad</a>
            </div>
        </div>

        <div class="col-xs-12 pt-4">
            <p class="text-white text-center">© 2022 HSEQ Control Total – Todos los derechos reservados</p>
        </div>

    </div>
</div>