<header>
    <div class="container">
        <p class="logo">HSEQ!</p>
        <nav>
            <a href="#somos-proya">Servicios Integrales</a>
            <a href="#nuestros-programas">Cursos de Seguridad</a>
            <a href="#caracteristicas">Contactenos</a>
        </nav>
    </div>
</header>

<section id="hero">
    <h1>Consultoria Integral SST <br>Ingenieria Especializada</h1>
    <button>NOSOTROS</button>
</section>